In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import accuracy_score,confusion_matrix

import pickle
import json

# Step 1: Problem Statement

# Step 2: Data Gathering

In [2]:
df = pd.read_csv("bank-additional-full.csv",sep=";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
df["nr.employed"] = df["nr.employed"].apply(lambda x : x/100)
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,51.910,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,51.910,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,51.910,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,51.910,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,51.910,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,49.636,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,49.636,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,49.636,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,49.636,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,49.636,no

In [4]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,41178,41179,41180,41181,41182,41183,41184,41185,41186,41187
age,56,57,37,40,56,45,59,41,24,25,...,62,64,36,37,29,73,46,56,44,74
job,housemaid,services,services,admin.,services,services,admin.,blue-collar,technician,services,...,retired,retired,admin.,admin.,unemployed,retired,blue-collar,retired,technician,retired
marital,married,married,married,married,married,married,married,married,single,single,...,married,divorced,married,married,single,married,married,married,married,married
education,basic.4y,high.school,high.school,basic.6y,high.school,basic.9y,professional.course,unknown,professional.course,high.school,...,university.degree,professional.course,university.degree,university.degree,basic.4y,professional.course,professional.course,university.degree,professional.course,professional.course
default,no,unknown,no,no,no,unknown,no,unknown,no,no,...,no,no,no,no,no,no,no,no,no,no
housing,no,no,yes,no,no,no,no,no,yes,yes,...,no,yes,no,yes,yes,yes,no,yes,no,yes
loan,no,no,no,no,yes,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
contact,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,...,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular
month,may,may,may,may,may,may,may,may,may,may,...,nov,nov,nov,nov,nov,nov,nov,nov,nov,nov
day_of_week,mon,mon,mon,mon,mon,mon,mon,mon,mon,mon,...,thu,fri,fri,fri,fri,fri,fri,fri,fri,fri
duration,261,149,226,151,307,198,139,217,380,50,...,483,151,254,281,112,334,383,189,442,239
campaign,1,1,1,1,1,1,1,1,1,1,...,2,3,2,1,1,1,1,2,1,3
pdays,999,999,999,999,999,999,999,999,999,999,...,6,999,999,999,9,999,999,999,999,999
previous,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,1
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,...,success,nonexistent,nonexistent,nonexistent,success,nonexistent,nonexistent,nonexistent,nonexistent,failure
emp.var.rate,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,...,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,...,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,...,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8
euribor3m,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,...,1.031,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028
nr.employed,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,...,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636
y,no,no,no,no,no,no,no,no,no,no,...,yes,no,no,yes,no,yes,no,no,yes,no

# Step 3: EDA [Exploratory Data Analysis]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [6]:
# check for missing values
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [7]:
df["age"].unique()

array([56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 54, 46, 50, 39, 30, 55,
       49, 34, 52, 58, 32, 38, 44, 42, 60, 53, 47, 51, 48, 33, 31, 43, 36,
       28, 27, 26, 22, 23, 20, 21, 61, 19, 18, 70, 66, 76, 67, 73, 88, 95,
       77, 68, 75, 63, 80, 62, 65, 72, 82, 64, 71, 69, 78, 85, 79, 83, 81,
       74, 17, 87, 91, 86, 98, 94, 84, 92, 89], dtype=int64)

In [8]:
print(df["duration"].unique())
for index,i in enumerate(df["duration"].unique()):
    if i <= 0:
        print(f"Index position {index} and value {i}")

[ 261  149  226 ... 1246 1556 1868]
Index position 939 and value 0

In [9]:
df["campaign"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 19, 18, 23, 14,
       22, 25, 16, 17, 15, 20, 56, 39, 35, 42, 28, 26, 27, 32, 21, 24, 29,
       31, 30, 41, 37, 40, 33, 34, 43], dtype=int64)

In [10]:
df["pdays"].unique()

array([999,   6,   4,   3,   5,   1,   0,  10,   7,   8,   9,  11,   2,
        12,  13,  14,  15,  16,  21,  17,  18,  22,  25,  26,  19,  27,
        20], dtype=int64)

In [11]:
df["previous"].unique()

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [12]:
df["emp.var.rate"].unique()

array([ 1.1,  1.4, -0.1, -0.2, -1.8, -2.9, -3.4, -3. , -1.7, -1.1])

In [13]:
df["cons.price.idx"].unique()

array([93.994, 94.465, 93.918, 93.444, 93.798, 93.2  , 92.756, 92.843,
       93.075, 92.893, 92.963, 92.469, 92.201, 92.379, 92.431, 92.649,
       92.713, 93.369, 93.749, 93.876, 94.055, 94.215, 94.027, 94.199,
       94.601, 94.767])

In [14]:
df["cons.conf.idx"].unique()

array([-36.4, -41.8, -42.7, -36.1, -40.4, -42. , -45.9, -50. , -47.1,
       -46.2, -40.8, -33.6, -31.4, -29.8, -26.9, -30.1, -33. , -34.8,
       -34.6, -40. , -39.8, -40.3, -38.3, -37.5, -49.5, -50.8])

In [15]:
df["euribor3m"].unique()

array([4.857, 4.856, 4.855, 4.859, 4.86 , 4.858, 4.864, 4.865, 4.866,
       4.967, 4.961, 4.959, 4.958, 4.96 , 4.962, 4.955, 4.947, 4.956,
       4.966, 4.963, 4.957, 4.968, 4.97 , 4.965, 4.964, 5.045, 5.   ,
       4.936, 4.921, 4.918, 4.912, 4.827, 4.794, 4.76 , 4.733, 4.7  ,
       4.663, 4.592, 4.474, 4.406, 4.343, 4.286, 4.245, 4.223, 4.191,
       4.153, 4.12 , 4.076, 4.021, 3.901, 3.879, 3.853, 3.816, 3.743,
       3.669, 3.563, 3.488, 3.428, 3.329, 3.282, 3.053, 1.811, 1.799,
       1.778, 1.757, 1.726, 1.703, 1.687, 1.663, 1.65 , 1.64 , 1.629,
       1.614, 1.602, 1.584, 1.574, 1.56 , 1.556, 1.548, 1.538, 1.531,
       1.52 , 1.51 , 1.498, 1.483, 1.479, 1.466, 1.453, 1.445, 1.435,
       1.423, 1.415, 1.41 , 1.405, 1.406, 1.4  , 1.392, 1.384, 1.372,
       1.365, 1.354, 1.344, 1.334, 1.327, 1.313, 1.299, 1.291, 1.281,
       1.266, 1.25 , 1.244, 1.259, 1.264, 1.27 , 1.262, 1.26 , 1.268,
       1.286, 1.252, 1.235, 1.224, 1.215, 1.206, 1.099, 1.085, 1.072,
       1.059, 1.048, 1.044, 1.029, 1.018, 1.007, 0.996, 0.979, 0.969,
       0.944, 0.937, 0.933, 0.927, 0.921, 0.914, 0.908, 0.903, 0.899,
       0.884, 0.883, 0.881, 0.879, 0.873, 0.869, 0.861, 0.859, 0.854,
       0.851, 0.849, 0.843, 0.838, 0.834, 0.829, 0.825, 0.821, 0.819,
       0.813, 0.809, 0.803, 0.797, 0.788, 0.781, 0.778, 0.773, 0.771,
       0.77 , 0.768, 0.766, 0.762, 0.755, 0.749, 0.743, 0.741, 0.739,
       0.75 , 0.753, 0.754, 0.752, 0.744, 0.74 , 0.742, 0.737, 0.735,
       0.733, 0.73 , 0.731, 0.728, 0.724, 0.722, 0.72 , 0.719, 0.716,
       0.715, 0.714, 0.718, 0.721, 0.717, 0.712, 0.71 , 0.709, 0.708,
       0.706, 0.707, 0.7  , 0.655, 0.654, 0.653, 0.652, 0.651, 0.65 ,
       0.649, 0.646, 0.644, 0.643, 0.639, 0.637, 0.635, 0.636, 0.634,
       0.638, 0.64 , 0.642, 0.645, 0.659, 0.663, 0.668, 0.672, 0.677,
       0.682, 0.683, 0.684, 0.685, 0.688, 0.69 , 0.692, 0.695, 0.697,
       0.699, 0.701, 0.702, 0.704, 0.711, 0.713, 0.723, 0.727, 0.729,
       0.732, 0.748, 0.761, 0.767, 0.782, 0.79 , 0.793, 0.802, 0.81 ,
       0.822, 0.827, 0.835, 0.84 , 0.846, 0.87 , 0.876, 0.885, 0.889,
       0.893, 0.896, 0.898, 0.9  , 0.904, 0.905, 0.895, 0.894, 0.891,
       0.89 , 0.888, 0.886, 0.882, 0.88 , 0.878, 0.877, 0.942, 0.953,
       0.956, 0.959, 0.965, 0.972, 0.977, 0.982, 0.985, 0.987, 0.993,
       1.   , 1.008, 1.016, 1.025, 1.032, 1.037, 1.043, 1.045, 1.047,
       1.05 , 1.049, 1.046, 1.041, 1.04 , 1.039, 1.035, 1.03 , 1.031,
       1.028])

In [16]:
df["nr.employed"].unique()

array([51.91 , 52.281, 51.958, 51.763, 50.991, 50.762, 50.175, 50.235,
       50.087, 49.916, 49.636])

In [17]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [18]:
for i in df.columns:
    print("Column Name:",i)
    print("Unique Values:\n",df[i].unique())
    print("Count of unique values:\n",df[i].value_counts())
    print()

Column Name: age
Unique Values:
 [56 57 37 40 45 59 41 24 25 29 35 54 46 50 39 30 55 49 34 52 58 32 38 44
 42 60 53 47 51 48 33 31 43 36 28 27 26 22 23 20 21 61 19 18 70 66 76 67
 73 88 95 77 68 75 63 80 62 65 72 82 64 71 69 78 85 79 83 81 74 17 87 91
 86 98 94 84 92 89]
Count of unique values:
 31    1947
32    1846
33    1833
36    1780
35    1759
      ...
89       2
91       2
94       1
87       1
95       1
Name: age, Length: 78, dtype: int64

Column Name: job
Unique Values:
 ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
Count of unique values:
 admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

Column Name: marital
Unique Values:
 ['married' 'single' 'divorced' 'unknown']
Count of unique values:
 married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

Column Name: education
Unique Values:
 ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
Count of unique values:
 university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

Column Name: default
Unique Values:
 ['no' 'unknown' 'yes']
Count of unique values:
 no         32588
unknown     8597
yes            3
Name: default, dtype: int64

Column Name: housing
Unique Values:
 ['no' 'yes' 'unknown']
Count of unique values:
 yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

Column Name: loan
Unique Values:
 ['no' 'yes' 'unknown']
Count of unique values:
 no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

Column Name: contact
Unique Values:
 ['telephone' 'cellular']
Count of unique values:
 cellular     26144
telephone    15044
Name: contact, dtype: int64

Column Name: month
Unique Values:
 ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
Count of unique values:
 may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

Column Name: day_of_week
Unique Values:
 ['mon' 'tue' 'wed' 'thu' 'fri']
Count of unique values:
 thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

Column Name: duration
Unique Values:
 [ 261  149  226 ... 1246 1556 1868]
Count of unique values:
 90      170
85      170
136     168
73      167
124     164
       ...
1569      1
1053      1
1263      1
1169      1
1868      1
Name: duration, Length: 1544, dtype: int64

Column Name: campaign
Unique Values:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 19 18 23 14 22 25 16 17 15 20 56
 39 35 42 28 26 27 32 21 24 29 31 30 41 37 40 33 34 43]
Count of unique values:
 1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
31        7
30        7
35        5
32        4
33        4
34        3
42        2
40        2
43        2
56        1
39        1
41        1
37        1
Name: campaign, dtype: int64

Column Name: pdays
Unique Values:
 [999   6   4   3   5   1   0  10   7   8   9  11   2  12  13  14  15  16
  21  17  18  22  25  26  19  27  20]
Count of unique values:
 999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: pdays, dtype: int64

Column Name: previous
Unique Values:
 [0 1 2 3 4 5 6 7]
Count of unique values:
 0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: previous, dtype: int64

Column Name: poutcome
Unique Values:
 ['nonexistent' 'failure' 'success']
Count of unique values:
 nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

Column Name: emp.var.rate
Unique Values:
 [ 1.1  1.4 -0.1 -0.2 -1.8 -2.9 -3.4 -3.  -1.7 -1.1]
Count of unique values:
  1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: emp.var.rate, dtype: int64

Column Name: cons.price.idx
Unique Values:
 [93.994 94.465 93.918 93.444 93.798 93.2   92.756 92.843 93.075 92.893
 92.963 92.469 92.201 92.379 92.431 92.649 92.713 93.369 93.749 93.876
 94.055 94.215 94.027 94.199 94.601 94.767]
Count of unique values:
 93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: cons.price.idx, dtype: int64

Column Name: cons.conf.idx
Unique Values:
 [-36.4 -41.8 -42.7 -36.1 -40.4 -42.  -45.9 -50.  -47.1 -46.2 -40.8 -33.6
 -31.4 -29.8 -26.9 -30.1 -33.  -34.8 -34.6 -40.  -39.8 -40.3 -38.3 -37.5
 -49.5 -50.8]
Count of unique values:
 -36.4    7763
-42.7    6685
-46.2    5794
-36.1    5175
-41.8    4374
-42.0    3616
-47.1    2458
-31.4     770
-40.8     715
-26.9     447
-30.1     357
-40.3     311
-37.5     303
-50.0     282
-29.8     267
-34.8     264
-38.3     233
-39.8     229
-40.0     212
-49.5     204
-33.6     178
-34.6     174
-33.0     172
-50.8     128
-40.4      67
-45.9      10
Name: cons.conf.idx, dtype: int64

Column Name: euribor3m
Unique Values:
 [4.857 4.856 4.855 4.859 4.86  4.858 4.864 4.865 4.866 4.967 4.961 4.959
 4.958 4.96  4.962 4.955 4.947 4.956 4.966 4.963 4.957 4.968 4.97  4.965
 4.964 5.045 5.    4.936 4.921 4.918 4.912 4.827 4.794 4.76  4.733 4.7
 4.663 4.592 4.474 4.406 4.343 4.286 4.245 4.223 4.191 4.153 4.12  4.076
 4.021 3.901 3.879 3.853 3.816 3.743 3.669 3.563 3.488 3.428 3.329 3.282
 3.053 1.811 1.799 1.778 1.757 1.726 1.703 1.687 1.663 1.65  1.64  1.629
 1.614 1.602 1.584 1.574 1.56  1.556 1.548 1.538 1.531 1.52  1.51  1.498
 1.483 1.479 1.466 1.453 1.445 1.435 1.423 1.415 1.41  1.405 1.406 1.4
 1.392 1.384 1.372 1.365 1.354 1.344 1.334 1.327 1.313 1.299 1.291 1.281
 1.266 1.25  1.244 1.259 1.264 1.27  1.262 1.26  1.268 1.286 1.252 1.235
 1.224 1.215 1.206 1.099 1.085 1.072 1.059 1.048 1.044 1.029 1.018 1.007
 0.996 0.979 0.969 0.944 0.937 0.933 0.927 0.921 0.914 0.908 0.903 0.899
 0.884 0.883 0.881 0.879 0.873 0.869 0.861 0.859 0.854 0.851 0.849 0.843
 0.838 0.834 0.829 0.825 0.821 0.819 0.813 0.809 0.803 0.797 0.788 0.781
 0.778 0.773 0.771 0.77  0.768 0.766 0.762 0.755 0.749 0.743 0.741 0.739
 0.75  0.753 0.754 0.752 0.744 0.74  0.742 0.737 0.735 0.733 0.73  0.731
 0.728 0.724 0.722 0.72  0.719 0.716 0.715 0.714 0.718 0.721 0.717 0.712
 0.71  0.709 0.708 0.706 0.707 0.7   0.655 0.654 0.653 0.652 0.651 0.65
 0.649 0.646 0.644 0.643 0.639 0.637 0.635 0.636 0.634 0.638 0.64  0.642
 0.645 0.659 0.663 0.668 0.672 0.677 0.682 0.683 0.684 0.685 0.688 0.69
 0.692 0.695 0.697 0.699 0.701 0.702 0.704 0.711 0.713 0.723 0.727 0.729
 0.732 0.748 0.761 0.767 0.782 0.79  0.793 0.802 0.81  0.822 0.827 0.835
 0.84  0.846 0.87  0.876 0.885 0.889 0.893 0.896 0.898 0.9   0.904 0.905
 0.895 0.894 0.891 0.89  0.888 0.886 0.882 0.88  0.878 0.877 0.942 0.953
 0.956 0.959 0.965 0.972 0.977 0.982 0.985 0.987 0.993 1.    1.008 1.016
 1.025 1.032 1.037 1.043 1.045 1.047 1.05  1.049 1.046 1.041 1.04  1.039
 1.035 1.03  1.031 1.028]
Count of unique values:
 4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
         ...
3.853       1
3.901       1
0.969       1
0.956       1
3.669       1
Name: euribor3m, Length: 316, dtype: int64

Column Name: nr.employed
Unique Values:
 [51.91  52.281 51.958 51.763 50.991 50.762 50.175 50.235 50.087 49.916
 49.636]
Count of unique values:
 52.281    16234
50.991     8534
51.910     7763
51.958     3683
50.762     1663
50.175     1071
49.916      773
50.087      650
49.636      635
50.235      172
51.763       10
Name: nr.employed, dtype: int64

Column Name: y
Unique Values:
 ['no' 'yes']
Count of unique values:
 no     36548
yes     4640
Name: y, dtype: int64

In [19]:
# Outliers

In [20]:
# Assumptions

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [22]:
##Labelling:

## all obj data cols converts to Label encoding


colnames_obj = df.select_dtypes(include="object").columns
print(colnames_obj)

##convert to dict all:

for i in colnames_obj:
    print("Col Name:",i)
    mydict = df[i].value_counts().to_dict()  ##getting unique keys
    
#     newdict = {key: index for index, (key, value) in enumerate(mydict.items())} ##dict compreh
    
    
    newdict = {}
    for index, key in enumerate(mydict.keys()):
        newdict[key] = index

    df[i].replace(newdict, inplace = True)
    print(newdict)

In [23]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,41178,41179,41180,41181,41182,41183,41184,41185,41186,41187
age,56,57,37,40,56,45,59,41,24,25,...,62,64,36,37,29,73,46,56,44,74
job,housemaid,services,services,admin.,services,services,admin.,blue-collar,technician,services,...,retired,retired,admin.,admin.,unemployed,retired,blue-collar,retired,technician,retired
marital,married,married,married,married,married,married,married,married,single,single,...,married,divorced,married,married,single,married,married,married,married,married
education,basic.4y,high.school,high.school,basic.6y,high.school,basic.9y,professional.course,unknown,professional.course,high.school,...,university.degree,professional.course,university.degree,university.degree,basic.4y,professional.course,professional.course,university.degree,professional.course,professional.course
default,no,unknown,no,no,no,unknown,no,unknown,no,no,...,no,no,no,no,no,no,no,no,no,no
housing,no,no,yes,no,no,no,no,no,yes,yes,...,no,yes,no,yes,yes,yes,no,yes,no,yes
loan,no,no,no,no,yes,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
contact,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,telephone,...,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular,cellular
month,may,may,may,may,may,may,may,may,may,may,...,nov,nov,nov,nov,nov,nov,nov,nov,nov,nov
day_of_week,mon,mon,mon,mon,mon,mon,mon,mon,mon,mon,...,thu,fri,fri,fri,fri,fri,fri,fri,fri,fri
duration,261,149,226,151,307,198,139,217,380,50,...,483,151,254,281,112,334,383,189,442,239
campaign,1,1,1,1,1,1,1,1,1,1,...,2,3,2,1,1,1,1,2,1,3
pdays,999,999,999,999,999,999,999,999,999,999,...,6,999,999,999,9,999,999,999,999,999
previous,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,1
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,...,success,nonexistent,nonexistent,nonexistent,success,nonexistent,nonexistent,nonexistent,nonexistent,failure
emp.var.rate,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,...,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,...,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,...,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8
euribor3m,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,...,1.031,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028
nr.employed,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,51.91,...,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636
y,no,no,no,no,no,no,no,no,no,no,...,yes,no,no,yes,no,yes,no,no,yes,no

In [24]:
colnames_obj = df.select_dtypes(include="object").columns
print(colnames_obj)

##convert to dict all:

for i in colnames_obj:
    print("Col Name:",i)
    mydict = df[i].value_counts().to_dict()
    print(mydict)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')
Col Name: job
{'admin.': 10422, 'blue-collar': 9254, 'technician': 6743, 'services': 3969, 'management': 2924, 'retired': 1720, 'entrepreneur': 1456, 'self-employed': 1421, 'housemaid': 1060, 'unemployed': 1014, 'student': 875, 'unknown': 330}
Col Name: marital
{'married': 24928, 'single': 11568, 'divorced': 4612, 'unknown': 80}
Col Name: education
{'university.degree': 12168, 'high.school': 9515, 'basic.9y': 6045, 'professional.course': 5243, 'basic.4y': 4176, 'basic.6y': 2292, 'unknown': 1731, 'illiterate': 18}
Col Name: default
{'no': 32588, 'unknown': 8597, 'yes': 3}
Col Name: housing
{'yes': 21576, 'no': 18622, 'unknown': 990}
Col Name: loan
{'no': 33950, 'yes': 6248, 'unknown': 990}
Col Name: contact
{'cellular': 26144, 'telephone': 15044}
Col Name: month
{'may': 13769, 'jul': 7174, 'aug': 6178, 'jun': 5318, 'nov': 4101, 'apr': 2632, 'oct': 718, 'sep': 570, 'mar': 546, 'dec': 182}
Col Name: day_of_week
{'thu': 8623, 'mon': 8514, 'wed': 8134, 'tue': 8090, 'fri': 7827}
Col Name: poutcome
{'nonexistent': 35563, 'failure': 4252, 'success': 1373}
Col Name: y
{'no': 36548, 'yes': 4640}

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [27]:
## OHE:
mylist = ["job","marital","contact","month","day_of_week"]


# df = pd.get_dummies(df, columns=['body-style'])

for i in mylist:
    df = pd.get_dummies(df, columns=[i])

In [28]:
##labelling:
# Default: has credit in default?  

label_list = ["education","default"]

education_dict = {'university.degree': 7, 
                  'high.school': 5, 
                  'basic.9y': 4, 
                  'professional.course': 6, 
                  'basic.4y': 2, 
                  'basic.6y': 3, 
                  'unknown': 1, 
                  'illiterate': 0}

df["education"].replace(education_dict, inplace=True)


default_dict = {'no': 3, 'unknown': 2, 'yes': 1}
df["default"].replace(default_dict, inplace=True)

housing_dict={'yes': 3, 'no': 1, 'unknown': 2}
df["housing"].replace(housing_dict, inplace=True)

loan_dict={'yes': 3, 'no': 1, 'unknown': 2}
df["loan"].replace(loan_dict, inplace=True)


poutcome_dict= {'nonexistent': 2, 'failure': 3, 'success': 1}
df["poutcome"].replace(poutcome_dict, inplace=True)

y_dict={'no': 0, 'yes': 1}
df["y"].replace(y_dict, inplace=True)

In [29]:
df

,age,education,default,housing,loan,duration,campaign,pdays,previous,poutcome,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
0,56,2,3,1,1,261,1,999,0,2,...,0,1,0,0,0,0,1,0,0,0
1,57,5,2,1,1,149,1,999,0,2,...,0,1,0,0,0,0,1,0,0,0
2,37,5,3,3,1,226,1,999,0,2,...,0,1,0,0,0,0,1,0,0,0
3,40,3,3,1,1,151,1,999,0,2,...,0,1,0,0,0,0,1,0,0,0
4,56,5,3,1,3,307,1,999,0,2,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,6,3,3,1,334,1,999,0,2,...,0,0,1,0,0,1,0,0,0,0
41184,46,6,3,1,1,383,1,999,0,2,...,0,0,1,0,0,1,0,0,0,0
41185,56,7,3,3,1,189,2,999,0,2,...,0,0,1,0,0,1,0,0,0,0
41186,44,6,3,1,1,442,1,999,0,2,...,0,0,1,0,0,1,0,0,0,0
41187,74,6,3,3,1,239,3,999,1,3,...,0,0,1,0,0,1,0,0,0,0

In [30]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,41178,41179,41180,41181,41182,41183,41184,41185,41186,41187
age,56.000,57.000,37.000,40.000,56.000,45.000,59.000,41.000,24.000,25.000,...,62.000,64.000,36.000,37.000,29.000,73.000,46.000,56.000,44.000,74.000
education,2.000,5.000,5.000,3.000,5.000,4.000,6.000,1.000,6.000,5.000,...,7.000,6.000,7.000,7.000,2.000,6.000,6.000,7.000,6.000,6.000
default,3.000,2.000,3.000,3.000,3.000,2.000,3.000,2.000,3.000,3.000,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000
housing,1.000,1.000,3.000,1.000,1.000,1.000,1.000,1.000,3.000,3.000,...,1.000,3.000,1.000,3.000,3.000,3.000,1.000,3.000,1.000,3.000
loan,1.000,1.000,1.000,1.000,3.000,1.000,1.000,1.000,1.000,1.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
duration,261.000,149.000,226.000,151.000,307.000,198.000,139.000,217.000,380.000,50.000,...,483.000,151.000,254.000,281.000,112.000,334.000,383.000,189.000,442.000,239.000
campaign,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,2.000,3.000,2.000,1.000,1.000,1.000,1.000,2.000,1.000,3.000
pdays,999.000,999.000,999.000,999.000,999.000,999.000,999.000,999.000,999.000,999.000,...,6.000,999.000,999.000,999.000,9.000,999.000,999.000,999.000,999.000,999.000
previous,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000
poutcome,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,...,1.000,2.000,2.000,2.000,1.000,2.000,2.000,2.000,2.000,3.000
emp.var.rate,1.100,1.100,1.100,1.100,1.100,1.100,1.100,1.100,1.100,1.100,...,-1.100,-1.100,-1.100,-1.100,-1.100,-1.100,-1.100,-1.100,-1.100,-1.100
cons.price.idx,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,...,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767
cons.conf.idx,-36.400,-36.400,-36.400,-36.400,-36.400,-36.400,-36.400,-36.400,-36.400,-36.400,...,-50.800,-50.800,-50.800,-50.800,-50.800,-50.800,-50.800,-50.800,-50.800,-50.800
euribor3m,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,...,1.031,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028
nr.employed,51.910,51.910,51.910,51.910,51.910,51.910,51.910,51.910,51.910,51.910,...,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636,49.636
y,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.000,0.000,0.000,1.000,0.000,1.000,0.000,0.000,1.000,0.000
job_admin.,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,...,0.000,0.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000
job_blue-collar,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000
job_entrepreneur,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_housemaid,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_management,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_retired,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.000,1.000,0.000,0.000,0.000,1.000,0.000,1.000,0.000,1.000
job_self-employed,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_services,0.000,1.000,1.000,0.000,1.000,1.000,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_student,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
job_technician,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000
job_unemployed,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000
job_unknown,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
marital_divorced,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
marital_married,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,0.000,0.000,...,1.000,0.000,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000
marital_single,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,...,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000
marital_unknown,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
contact_cellular,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
contact_telephone,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_apr,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_aug,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_dec,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_jul,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_jun,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_mar,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_may,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_nov,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
month_oct,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
month_sep,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
day_of_week_fri,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
day_of_week_mon,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
day_of_week_thu,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
day_of_week_tue,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
day_of_week_wed,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [31]:
df.corr() ##corr as input

,age,education,default,housing,loan,duration,campaign,pdays,previous,poutcome,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
age,1.000000,-0.184463,-0.164965,-0.001603,-0.007368,-0.000866,0.004594,-0.034369,0.024365,-0.019750,...,0.008390,-0.067523,0.030045,0.053008,0.040889,0.007148,0.019027,-0.021356,0.019137,-0.023671
education,-0.184463,1.000000,0.225031,0.021101,0.011141,-0.016129,-0.001560,-0.025417,0.020942,-0.006642,...,0.025558,-0.104590,0.068920,0.012541,0.015873,-0.005831,0.010649,0.009991,-0.011710,-0.003609
default,-0.164965,0.225031,1.000000,0.015815,0.003782,0.011794,-0.032825,-0.080062,0.102416,0.023417,...,0.051178,-0.066952,0.085652,0.060199,0.054710,-0.003981,-0.007028,0.005004,-0.003641,0.009592
housing,-0.001603,0.021101,0.015815,1.000000,0.044296,-0.007658,-0.011010,-0.010551,0.021314,0.011783,...,0.013108,-0.022383,0.032332,0.003108,0.006986,-0.015536,0.011706,0.011844,-0.010433,0.001710
loan,-0.007368,0.011141,0.003782,0.044296,1.000000,-0.000916,0.005166,0.000345,-0.001327,0.001511,...,-0.004334,0.001684,-0.006138,-0.008996,-0.001905,0.007376,0.005742,-0.002671,-0.008350,-0.002046
duration,-0.000866,-0.016129,0.011794,-0.007658,-0.000916,1.000000,-0.071699,-0.047577,0.020640,-0.033360,...,-0.005516,0.008054,-0.015941,0.015454,0.018011,-0.010343,-0.023068,0.014666,0.004140,0.014537
campaign,0.004594,-0.001560,-0.032825,-0.011010,0.005166,-0.071699,1.000000,0.052584,-0.079141,-0.032586,...,-0.015244,-0.032704,-0.079028,-0.049126,-0.033953,0.026641,0.014405,0.005141,-0.025125,-0.021088
pdays,-0.034369,-0.025417,-0.080062,-0.010551,0.000345,-0.047577,0.052584,1.000000,-0.587514,0.475619,...,-0.078769,0.070690,-0.016946,-0.128677,-0.154629,0.013782,0.001031,-0.008186,-0.007300,0.001021
previous,0.024365,0.020942,0.102416,0.021314,-0.001327,0.020640,-0.079141,-0.587514,1.000000,0.313110,...,0.072733,-0.012534,0.081050,0.127754,0.157651,0.004404,-0.002012,0.001512,0.000090,-0.003929
poutcome,-0.019750,-0.006642,0.023417,0.011783,0.001511,-0.033360,-0.032586,0.475619,0.313110,1.000000,...,-0.012381,0.083190,0.086552,-0.009298,-0.029118,0.023005,0.000145,-0.008180,-0.008670,-0.005808
emp.var.rate,-0.000371,-0.041447,-0.203263,-0.060196,0.001849,-0.027968,0.150754,0.271004,-0.420489,-0.192972,...,-0.138849,-0.111356,-0.105917,-0.213706,-0.170366,-0.015277,-0.018139,-0.007673,0.014582,0.026797
cons.price.idx,0.000857,-0.098447,-0.168073,-0.080504,-0.002430,0.005312,0.127836,0.078889,-0.203130,-0.211330,...,-0.095783,-0.057274,-0.215273,-0.092174,-0.046905,0.002569,0.001273,-0.017143,0.001216,0.012479
cons.conf.idx,0.129372,0.043447,-0.026522,-0.033845,-0.012025,-0.008173,-0.013733,-0.091342,-0.050936,-0.178289,...,-0.053793,-0.011740,-0.052892,0.170425,0.169175,-0.003104,-0.041382,-0.027877,0.050033,0.023711
euribor3m,0.010767,-0.032482,-0.195336,-0.059277,0.000125,-0.032897,0.135133,0.296899,-0.454494,-0.184144,...,-0.164298,-0.133859,0.019524,-0.185937,-0.190321,-0.015371,-0.023279,-0.013757,0.022732,0.030201
nr.employed,-0.017725,-0.024262,-0.189845,-0.045862,0.003903,-0.044703,0.144095,0.372605,-0.501333,-0.119689,...,-0.179106,-0.171782,0.027593,-0.273236,-0.292156,-0.012913,-0.017433,-0.002658,0.009923,0.023272
y,0.030399,0.035848,0.099352,0.011552,-0.004909,0.405274,-0.066357,-0.324914,0.230181,-0.129789,...,0.144014,-0.108271,-0.011796,0.137366,0.126067,-0.006996,-0.021265,0.013888,0.008046,0.006302
job_admin.,-0.102584,0.308200,0.121372,0.009949,0.018103,-0.008918,0.011745,-0.025398,0.018888,-0.010078,...,0.015060,-0.055052,0.008823,0.006538,0.010407,0.009892,-0.000736,-0.003970,-0.001835,-0.003112
job_blue-collar,-0.024191,-0.466516,-0.176382,-0.015214,-0.004662,0.012992,-0.001775,0.065335,-0.054845,0.019261,...,-0.036963,0.136311,-0.062053,-0.049034,-0.054309,0.003329,-0.009754,-0.007062,-0.006829,0.020673
job_entrepreneur,0.031213,0.027243,0.001008,0.004480,-0.005220,0.003679,-0.002203,0.019246,-0.013239,0.009865,...,-0.019889,-0.000762,0.054461,-0.010429,-0.009172,-0.001905,0.006828,0.005551,-0.007275,-0.003480
job_housemaid,0.085403,-0.126326,-0.036796,-0.004205,-0.002134,-0.004908,0.004226,-0.001649,-0.011569,-0.016095,...,-0.010794,-0.018967,-0.009495,0.000611,-0.003503,-0.007595,0.003365,-0.009014,0.011500,0.001797
job_management,0.062040,0.163488,0.035507,-0.007936,-0.001096,-0.001308,-0.009135,0.000254,0.006735,0.008237,...,0.002677,-0.013724,0.085207,0.000020,0.004479,-0.005940,0.008306,-0.005846,0.001589,0.001794
job_retired,0.440772,-0.111165,-0.010070,-0.001892,-0.006570,0.012421,-0.006847,-0.072084,0.065113,-0.016130,...,0.043721,-0.063288,-0.014291,0.089043,0.064618,0.001902,-0.002261,-0.012856,0.011964,0.001624
job_self-employed,-0.001356,0.076344,0.004843,-0.000393,-0.006484,0.004270,0.006361,0.014307,-0.011231,0.005746,...,0.007168,-0.016083,0.025108,-0.003833,0.000381,0.003040,0.005343,0.012590,-0.008072,-0.013241
job_services,-0.065731,-0.055246,-0.017599,-0.004397,0.000392,0.000142,0.002383,0.030573,-0.011885,0.022803,...,-0.019865,0.059156,-0.020385,-0.022751,-0.018260,-0.000888,0.002959,-0.000190,0.002780,-0.004716
job_student,-0.199749,-0.044240,0.032609,0.004656,0.004771,0.014432,-0.024657,-0.096367,0.104671,-0.007499,...,0.043283,-0.021597,-0.018625,0.048562,0.053170,-0.001836,-0.001610,0.005716,0.000057,-0.002453
job_technician,-0.064383,0.197815,0.069124,0.010149,-0.007511,-0.013742,0.001557,0.004575,-0.017142,-0.011632,...,0.007236,-0.058580,-0.009727,-0.000775,-0.000739,-0.005081,-0.001272,0.013274,0.000919,-0.008182
job_unemployed,-0.004426,0.001262,-0.010481,0.008631,-0.001518,-0.005413,-0.000200,-0.023085,0.008426,-0.016786,...,0.006244,-0.024902,0.027753,0.012359,0.022756,0.002919,-0.005264,0.006821,0.000723,-0.005215
job_unknown,0.047773,-0.097569,-0.055630,-0.001290,0.004121,-0.006450,0.002625,-0.011419,-0.003345,-0.018062,...,-0.005654,0.005589,-0.023518,0.004676,0.008003,-0.017847,0.006581,0.001280,0.006295,0.003304
marital_divorced,0.166125,0.010352,0.025050,-0.001858,-0.004159,-0.006156,0.005872,0.011711,-0.003066,0.010741,...,-0.000766,-0.008777,0.023347,-0.007882,-0.009112,-0.005578,0.006208,-0.009567,0.010684,-0.001702
marital_married,0.271266,-0.147211,-0.130593,-0.011385,-0.001926,-0.004042,0.002332,0.031614,-0.043420,-0.011148,...,-0.041889,0.019022,0.005304,-0.013493,-0.005943,0.006825,0.005043,-0.008772,0.001217,-0.004105
marital_single,-0.411703,0.152993,0.123703,0.014494,0.005102,0.007808,-0.007624,-0.042015,0.048485,0.004229,...,0.045181,-0.015247,-0.021976,0.019543,0.013369,-0.003068,-0.010170,0.015291,-0.008179,0.005903
marital_unknown,0.001062,-0.001478,0.007742,-0.008248,-0.000910,0.009263,0.009873,-0.005989,0.009095,0.003659,...,0.009351,0.007313,-0.001778,0.006764,-0.005226,-0.004501,0.003354,0.009828,-0.006542,-0.002492
contact_cellular,-0.007021,0.112270,0.135238,0.082186,0.008556,0.026657,-0.077368,-0.117970,0.212848,0.118744,...,0.061471,-0.344374,0.180678,0.041321,0.051879,-0.041536,0.016282,0.041093,-0.003568,-0.014064
contact_telephone,0.007021,-0.112270,-0.135238,-0.082186,-0.008556,-0.026657,0.077368,0.117970,-0.212848,-0.118744,...,-0.061471,0.344374,-0.180678,-0.041321,-0.051879,0.041536,-0.016282,-0.041093,0.003568,0.014064
month_apr,0.014285,-0.001216,0.049002,0.029543,0.000578,0.035185,-0.058519,-0.009629,0.079384,0.096299,...,-0.030283,-0.185149,-0.086882,-0.034801,-0.030951,0.027792,0.038717,0.052940,-0.066206,-0.054803
month_aug,0.065309,0.146962,0.008261,0.025873,-0.003461,-0.041889,0.015009,-0.003176,-0.048852,-0.071734,...,-0.048690,-0.297682,-0.139689,-0.055953,-0.049763,-0.018027,-0.009245,0.008957,0.014127,0.003918
month_dec,0.046563,0.006598,0.028816,0.007039,0.007289,0.022438,-0.009819,-0.076425,0.059557,-0.018885,...,-0.007722,-0.047210,-0.022154,-0.008874,-0.007892,-0.009877,0.013901,0.006205,-0.009903,-0.000866
month_jul,-0.043563,-0.046732,-0.037551,-0.000878,0.013629,0.026819,0.098385,0.049695,-0.116785,-0.086345,...,-0.053231,-0.325445,-0.152716,-0.061171,-0.054404,-0.057319,0.005226,0.026760,0.017388,0.006472
month_jun,-0.009532,-0.037596,-0.050067,-0.054996,-0.004828,-0.023351,0.070144,0.015957,-0.069905,-0.068781,...,-0.044629,-0.272856,-0.128039,-0.051287,-0.045613,0.025175,0.027126,-0.026047,-0.013585,-0.012226
month_mar,0.008390,0.025558,0.051178,0.013108,-0.004334,-0.005516,-0.015244,-0.078769,0.072733,-0.012381,...,1.000000,-0.082136,-0.038543,-0.015438,-0.013731,-0.005279,0.015798,-0.007988,0.017503,-0.020171
month_may,-0.067523,-0.104590,-0.066952,-0.022383,0.001684,0.008054,-0.032704,0.070690,-0.012534,0.083190,...,-0.082136,1.000000,-0.235646,-0.094389,-0.083947,0.031676,-0.025953,-0.043723,0.013543,0.026351
month_nov,0.030045,0.068920,0.085652,0.032332,-0.006138,-0.015941,-0.079028,-0.016946,0.081050,0.086552,...,-0.038543,-0.235646,1.000000,-0.044292,-0.039392,-0.005026,-0.016364,0.008854,0.001734,0.010819
month_oct,0.053008,0.012541,0.060199,0.003108,-0.008996,0.015454,-0.049126,-0.128677,0.127754,-0.009298,...,-0.015438,-0.094389,-0.044292,1.000000,-0.015779,0.002628,-0.008896,0.005782,0.003723,-0.003166
month_sep,0.040889,0.015873,0.054710,0.006986,-0.001905,0.018011,-0.033953,-0.154629,0.157651,-0.029118,...,-0.013731,-0.083947,-0.039392,-0.015779,1.000000,0.003540,-0.014280,0.001362,0.003161,0.006491
day_of_week_fri,0.007148,-0.005831,-0.003981,-0.015536,0.007376,-0.010343,0.026641,0.013782,0.004404,0.023005,...,-0.005279,0.031676,-0.005026,0.002628,0.003540,1.000000,-0.247254,-0.249248,-0.239470,-0.240280
day_of_week_mon,0.019027,0.010649,-0.007028,0.011706,0.005742,-0.023068,0.014405,0.001031,-0.002012,0.000145,...,0.015798,-0.025953,-0.016364,-0.008896,-0.014280,-0.247254,1.000000,-0.262675,-0.252371,-0.253225
day_of_week_thu,-0.021356,0.009991,0.005004,0.011844,-0.002671,0.014666,0.005141,-0.008186,0.001512,-0.008180,...,-0.007988,-0.043723,0.008854,0.005782,0.001362,-0.249248,-0.262675,1.000000,-0.254406,-0.255266
day_of_week_tue,0.019137,-0.011710,-0.003641,-0.010433,-0.008350,0.004140,-0.025125,-0.007300,0.000090,-0.008670,...,0.017503,0.013543,0.001734,0.003723,0.003161,-0.239470,-0.252371,-0.254406,1.000000,-0.245253
day_of_week_wed,-0.023671,-0.003609,0.009592,0.001710,-0.002046,0.014537,-0.021088,0.001021,-0.003929,-0.005808,...,-0.020171,0.026351,0.010819,-0.003166,0.006491,-0.240280,-0.253225,-0.255266,-0.245253,1.000000

In [32]:
##only for corr with actual datasets
df1 = pd.read_csv("bank-additional-full.csv",sep=";")
df1.corr()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
age,1.000000,-0.000866,0.004594,-0.034369,0.024365,-0.000371,0.000857,0.129372,0.010767,-0.017725
duration,-0.000866,1.000000,-0.071699,-0.047577,0.020640,-0.027968,0.005312,-0.008173,-0.032897,-0.044703
campaign,0.004594,-0.071699,1.000000,0.052584,-0.079141,0.150754,0.127836,-0.013733,0.135133,0.144095
pdays,-0.034369,-0.047577,0.052584,1.000000,-0.587514,0.271004,0.078889,-0.091342,0.296899,0.372605
previous,0.024365,0.020640,-0.079141,-0.587514,1.000000,-0.420489,-0.203130,-0.050936,-0.454494,-0.501333
emp.var.rate,-0.000371,-0.027968,0.150754,0.271004,-0.420489,1.000000,0.775334,0.196041,0.972245,0.906970
cons.price.idx,0.000857,0.005312,0.127836,0.078889,-0.203130,0.775334,1.000000,0.058986,0.688230,0.522034
cons.conf.idx,0.129372,-0.008173,-0.013733,-0.091342,-0.050936,0.196041,0.058986,1.000000,0.277686,0.100513
euribor3m,0.010767,-0.032897,0.135133,0.296899,-0.454494,0.972245,0.688230,0.277686,1.000000,0.945154
nr.employed,-0.017725,-0.044703,0.144095,0.372605,-0.501333,0.906970,0.522034,0.100513,0.945154,1.000000

In [93]:
## kdeplots for int and float types:

# cols1 = df1.select_dtypes(include=["int","float"]).columns
# cols1
# for i in cols1:
#     print("Column Name:",i)
#     print(sns.kdeplot(x = df[i]))
#     plt.show()
#     print()

# Step 6. Model Training

In [34]:
x = df.drop('y', axis=1)
y = df['y']

x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=9)

In [35]:
x_train.shape,y_train.shape, x_test.shape, y_test.shape

((28831, 48), (28831,), (12357, 48), (12357,))

In [121]:
#model object

logistic_model = LogisticRegression(max_iter=300)

In [122]:
#fitting

logistic_model.fit(x_train,y_train)

C:\Users\nisha\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [123]:
##prediction

y_pred_logistic = logistic_model.predict(x_test)
y_pred_logistic.shape

(12357,)

In [124]:
print("Accuracy of logistic_model",accuracy_score(y_test,y_pred_logistic))
# 0.9073399692481994 @100iter
# 0.9104960750991341 @200iter
# 0.9108197782633325 @300iter

# 0.9123573682932751

Accuracy of logistic_model 0.9113053330096301

In [40]:
# Pickle file 

with open('model.pkl','wb') as file:
    pickle.dump(logistic_model,file)

In [41]:
# df1 = df.transpose()
# df1[[0]]

In [42]:
d1 = { "columns": ['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed'],
      
    "result_values":{'no': 0, 'yes': 1}
    
}
with open("asset.json","w") as file:
    json.dump(d1,file)

In [43]:
df.head(1).transpose()

                         0
age                 56.000
education            2.000
default              3.000
housing              1.000
loan                 1.000
duration           261.000
campaign             1.000
pdays              999.000
previous             0.000
poutcome             2.000
emp.var.rate         1.100
cons.price.idx      93.994
cons.conf.idx      -36.400
euribor3m            4.857
nr.employed         51.910
y                    0.000
job_admin.           0.000
job_blue-collar      0.000
job_entrepreneur     0.000
job_housemaid        1.000
job_management       0.000
job_retired          0.000
job_self-employed    0.000
job_services         0.000
job_student          0.000
job_technician       0.000
job_unemployed       0.000
job_unknown          0.000
marital_divorced     0.000
marital_married      1.000
marital_single       0.000
marital_unknown      0.000
contact_cellular     0.000
contact_telephone    1.000
month_apr            0.000
month_aug            0.000
month_dec            0.000
month_jul            0.000
month_jun            0.000
month_mar            0.000
month_may            1.000
month_nov            0.000
month_oct            0.000
month_sep            0.000
day_of_week_fri      0.000
day_of_week_mon      1.000
day_of_week_thu      0.000
day_of_week_tue      0.000
day_of_week_wed      0.000

## user test function

In [ ]:
User test func is based on 
x_test.shape, y_test.shape

In [116]:
sampledf.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [47]:
x_test.head(1).transpose()

                     35679
age                 25.000
education            5.000
default              3.000
housing              3.000
loan                 1.000
duration           432.000
campaign             3.000
pdays              999.000
previous             0.000
poutcome             2.000
emp.var.rate        -1.800
cons.price.idx      92.893
cons.conf.idx      -46.200
euribor3m            1.244
nr.employed         50.991
job_admin.           0.000
job_blue-collar      0.000
job_entrepreneur     0.000
job_housemaid        0.000
job_management       0.000
job_retired          0.000
job_self-employed    0.000
job_services         0.000
job_student          1.000
job_technician       0.000
job_unemployed       0.000
job_unknown          0.000
marital_divorced     0.000
marital_married      0.000
marital_single       1.000
marital_unknown      0.000
contact_cellular     1.000
contact_telephone    0.000
month_apr            0.000
month_aug            0.000
month_dec            0.000
month_jul            0.000
month_jun            0.000
month_mar            0.000
month_may            1.000
month_nov            0.000
month_oct            0.000
month_sep            0.000
day_of_week_fri      0.000
day_of_week_mon      1.000
day_of_week_thu      0.000
day_of_week_tue      0.000
day_of_week_wed      0.000

In [49]:
len(x_test.head(1).transpose()) ## we need 48 inputs

48

In [52]:
columns = {"Column Names":x_test.columns.tolist()}
print(columns)

{'Column Names': ['age', 'education', 'default', 'housing', 'loan', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired', 'job_self-employed', 'job_services', 'job_student', 'job_technician', 'job_unemployed', 'job_unknown', 'marital_divorced', 'marital_married', 'marital_single', 'marital_unknown', 'contact_cellular', 'contact_telephone', 'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep', 'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue', 'day_of_week_wed']}

In [53]:
## json format --make
with open('column_names.json',"w") as file:
    json.dump(columns,file)

In [60]:
## json format --open
with open('column_names.json',"r") as file:
    column_names = json.load(file)
column_names['Column Names'] ##access each cols

['age',
 'education',
 'default',
 'housing',
 'loan',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'job_admin.',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_unknown',
 'marital_divorced',
 'marital_married',
 'marital_single',
 'marital_unknown',
 'contact_cellular',
 'contact_telephone',
 'month_apr',
 'month_aug',
 'month_dec',
 'month_jul',
 'month_jun',
 'month_mar',
 'month_may',
 'month_nov',
 'month_oct',
 'month_sep',
 'day_of_week_fri',
 'day_of_week_mon',
 'day_of_week_thu',
 'day_of_week_tue',
 'day_of_week_wed']

In [63]:
len(column_names['Column Names'])

48

In [62]:
user_input = np.zeros(len(column_names['Column Names']))
user_input

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [65]:
logistic_model.predict([user_input])  ##to chk if everything is ok // no error
## to chk shape is correct or not

C:\Users\nisha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [96]:
encoded_data = {
    "education" : {'university.degree': 7, 
                  'high.school': 5, 
                  'basic.9y': 4, 
                  'professional.course': 6, 
                  'basic.4y': 2, 
                  'basic.6y': 3, 
                  'unknown': 1, 
                  'illiterate': 0},

        "default" : {'no': 3, 'unknown': 2, 'yes': 1},
        "housing":{'yes': 3, 'no': 1, 'unknown': 2},
        "loan":{'yes': 3, 'no': 1, 'unknown': 2},
        "poutcome":{'nonexistent': 2, 'failure': 3, 'success': 1}   
}

##json file --make
with open("encoded_data.json","w") as file:
    json.dump(encoded_data,file)

In [98]:
##json file --open
with open("encoded_data.json","r") as file:
    encoded_data = json.load(file)
print(encoded_data)

{'education': {'university.degree': 7, 'high.school': 5, 'basic.9y': 4, 'professional.course': 6, 'basic.4y': 2, 'basic.6y': 3, 'unknown': 1, 'illiterate': 0}, 'default': {'no': 3, 'unknown': 2, 'yes': 1}, 'housing': {'yes': 3, 'no': 1, 'unknown': 2}, 'loan': {'yes': 3, 'no': 1, 'unknown': 2}, 'poutcome': {'nonexistent': 2, 'failure': 3, 'success': 1}}

In [101]:
## check dict values 
encoded_data['education']['basic.4y']

2

In [113]:
age=56
job="housemaid"
marital= "married"
education= "basic.4y"
default="no"
housing="no"
loan="no"
contact="telephone"
month="may"
day_of_week="mon"
duration=261
campaign=1
pdays=999
previous=0
poutcome="nonexistent"
emp_var_rate=1.1
cons_price_idx=93.994
cons_conf_idx=-36.4
euribor3m=4.857
nr_employed=5191.0



user_input[0]= age

#giving values to OHE -->
##prefix is job_ 
search_str = "job_"+job   ##index name formatting
column_array = np.array(column_names['Column Names']) ##convert to arrays
index = np.where(column_array == search_str)  ##getting index pos
user_input[index]=1                          #setting value for job


search_str = "marital_"+marital   ##index name formatting
column_array = np.array(column_names['Column Names']) ##convert to arrays
index = np.where(column_array == search_str)  ##getting index pos
user_input[index]=1    


##educ:
user_input[3]= encoded_data['education'][education]
user_input[4]= encoded_data['default'][default]
user_input[5]= encoded_data['housing'][housing]
user_input[6]= encoded_data['loan'][loan]


search_str = "contact_"+contact   ##index name formatting
column_array = np.array(column_names['Column Names']) ##convert to arrays
index = np.where(column_array == search_str)  ##getting index pos
user_input[index]=1    
user_input

search_str = "month_"+month   ##index name formatting
column_array = np.array(column_names['Column Names']) ##convert to arrays
index = np.where(column_array == search_str)  ##getting index pos
user_input[index]=1    
user_input

search_str = "day_of_week_"+day_of_week   ##index name formatting
column_array = np.array(column_names['Column Names']) ##convert to arrays
index = np.where(column_array == search_str)  ##getting index pos
user_input[index]=1 
user_input

user_input[10] = duration
user_input[11] = campaign
user_input[12] = pdays
user_input[13] = previous
user_input[14] = encoded_data['poutcome'][poutcome]
user_input[15] = emp_var_rate
user_input[16] = cons_price_idx
user_input[17] = cons_conf_idx
user_input[18] = euribor3m
user_input[19] = nr_employed

[ 5.6000e+01  0.0000e+00  0.0000e+00  2.0000e+00  3.0000e+00  1.0000e+00
  1.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
  0.0000e+00  0.0000e+00  2.0000e+00  1.1000e+00  9.3994e+01 -3.6400e+01
  4.8570e+00  5.1910e+03  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  1.0000e+00  0.0000e+00
  0.0000e+00  0.0000e+00  1.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
  0.0000e+00  0.0000e+00  0.0000e+00  1.0000e+00  0.0000e+00  0.0000e+00
  0.0000e+00  0.0000e+00  1.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00]

In [ ]:
data = [[age,job,marital,education,default,housing,loan,
      contact,month,day_of_week,duration,campaign,pdays,
      previous,poutcome,emp_var_rate,cons_price_idx,
      cons_conf_idx,euribor3m,nr_employed]]

In [118]:
##output mapping of user inputs
print(f"{user_input=}")
print(len(user_input))

user_input=array([ 5.6000e+01,  0.0000e+00,  0.0000e+00,  2.0000e+00,  3.0000e+00,
        1.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
        0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  2.0000e+00,
        1.1000e+00,  9.3994e+01, -3.6400e+01,  4.8570e+00,  5.1910e+03,
        0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
        0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
        0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,
        0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
        0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
        0.0000e+00,  0.0000e+00,  0.0000e+00])
48

In [120]:
logistic_model.predict([user_input])

C:\Users\nisha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [68]:
x_test.head(1).transpose()

                     35679
age                 25.000
education            5.000
default              3.000
housing              3.000
loan                 1.000
duration           432.000
campaign             3.000
pdays              999.000
previous             0.000
poutcome             2.000
emp.var.rate        -1.800
cons.price.idx      92.893
cons.conf.idx      -46.200
euribor3m            1.244
nr.employed         50.991
job_admin.           0.000
job_blue-collar      0.000
job_entrepreneur     0.000
job_housemaid        0.000
job_management       0.000
job_retired          0.000
job_self-employed    0.000
job_services         0.000
job_student          1.000
job_technician       0.000
job_unemployed       0.000
job_unknown          0.000
marital_divorced     0.000
marital_married      0.000
marital_single       1.000
marital_unknown      0.000
contact_cellular     1.000
contact_telephone    0.000
month_apr            0.000
month_aug            0.000
month_dec            0.000
month_jul            0.000
month_jun            0.000
month_mar            0.000
month_may            1.000
month_nov            0.000
month_oct            0.000
month_sep            0.000
day_of_week_fri      0.000
day_of_week_mon      1.000
day_of_week_thu      0.000
day_of_week_tue      0.000
day_of_week_wed      0.000

In [44]:
age = 
job = 
marital = 
education = 
default = 
housing = 
loan = 
contact = 
month = 
day_of_week = 
duration = 
campaign = 
pdays = 
previous = 
poutcome = 
emp.var.rate = 
cons.price.idx = 
cons.conf.idx = 
euribor3m =

SyntaxError: invalid syntax (702804863.py, line 1)